@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap');
// font-family: 'Roboto', sans-serif;
// font-family: 'Source Sans Pro', sans-serif;
@import "../../../MyStyleAllColor.scss";

.searchPanel{
    width: 50%;
    position: fixed;
    top: 80px;
    left: 25%;

}
.search{
    position: fixed;
    top: 130px;
    left: 0%;
}
.InterfaceSection{
    // background-color: $mainColor;
    background-image: url(img/InterfaceUI2.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1000;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    .searchBtn{
        margin-top: 30px;
    }
    .SearchCompany{
        
        width: 90%;
        .TextInfo{
            margin-top: 30px;
            margin-left: 0px;
        }
        
        .heading{
            color: var(--neutral-900, #111827);
            font-feature-settings: 'liga' off;
            font-family: Inter;
            font-size: 60px;
            font-style: normal;
            font-weight: 700;
            line-height: 72px; /* 120% */
            letter-spacing: -1.5px;
        }
        
        .desc{
            color: var(--neutral-700, #374151);
            font-feature-settings: 'liga' off;

            /* Body lg/Regular */
            font-family: Inter;
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: 28px; /* 155.556% */
            padding-top: 10px;

        }

            .img{
                height: 450px;
                width: 100%;
                border-radius: 40px;
                z-index: 1000;
                background-image: url(img/RightUI.png);
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
            }        
    }
}
@media only screen and (max-width: 768px) {
   .InterfaceSection{
    width: 100%;
    height: 90vh;
    .SearchCompany{
        margin-top: -20px;
        .img{
            display: none;
        }
        .TextInfo{
            width: 100%;
        }
        .heading{
            font-size: 30px;
            font-weight: 600;
        }
        .desc{
            font-size: 14px;
        }

    }
} 
    

}

@media only screen and (max-width: 576px) {
     .SearchCompany{
         margin-top: -20px;
         .img{
             display: none;
             position: absolute;
         }
         .TextInfo{
             width: 100%;
         }
         .heading{
             font-size: 30px;
             font-weight: 600;
         }
         .desc{
             font-size: 14px;
         }
 
     }
 } 
     

// @media(max-width: 991px) {
//     button.searchBtn {
//         width: 100%;  
//     }
// }

@media(max-width: 991px) {
    .heading, .desc{
        text-align: left;
    }
    .SearchCompany{
        .img{
            margin-left: 1px;
            height: 150px;
            width: 250px;
        }
       
        .heading{
            font-size: 20px;
            font-weight: 600;
        }
        .desc{
            font-size: 14px;
        }

    }
   
}