@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap');
// font-family: 'Roboto', sans-serif;
// font-family: 'Source Sans Pro', sans-serif;
@import "../../../MyStyleAllColor.scss";

.searchPanel{
    width: 50%;
    position: fixed;
    top: 50px;
    left: 25%;

}
.search{
    position: fixed;
    top: 100px;
    left: 49%;
}
.InterfaceSection{
    // background-color: $mainColor;
    background-image: url(img/InterfaceUI.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1000;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    
    .SearchCompany{
        width: 90%;
        .minHeading{
            color: $lightColor;
        }
        .heading{
            font-size: 45px;
            font-weight: 600;
        }
        .minHeading, .heading, .desc{
            margin-left: 10px;
            text-align: center;
        }
        .desc{
            padding-top: 10px;
            font-size: 14px;
            margin: auto;
            margin-bottom: 20px;
            font-size: 20px;
            width: 67%;
        }
    }
}
@media only screen and (max-width: 600px) {
   .InterfaceSection{
    width: 100%;
    height: 90vh;
} 
    
}

// @media(max-width: 991px) {
//     button.searchBtn {
//         width: 100%;  
//     }
// }

@media(max-width: 768px) {
    .minHeading, .heading, .desc{
        
        text-align: center;
    }
    .minHeading{
        font-size: 34px;
    }
    .heading{
        font-size: 35px;
    }
    .desc{
        font-size: 14px;
    }
}