@import "../../MyStyleAllColor.scss";
/* Define styles for the footer */
.footer {
   border-top-left-radius: 8px;
   border-top-right-radius: 8px;
    padding: 20px 0;
    text-align: center;
    
    .footerArea {
      max-width: 960px;
      padding: 20px;

      text-align: left;
      margin: 0 auto;
      
      .footer__link {
        margin-left: 20px;
          margin-bottom: 10px;
          color: $lightColor !important;
          margin-right: 10px;
          text-decoration: none !important;
          :hover{
            color: red !important;
          }
  
      }
      
      
      
     
      
      .footer__text {
        font-size: 14px;
      }
    }
    .quickLink{
      text-align: left;
      .link{
        text-decoration: none;
        color: $lightColor;
        display: block;
      }
    }
    .EmailSend{
      padding-right: 20px;
    }
    
  }