@import "../../../MyStyleAllColor.scss";
.latestData{
    // background: url(https://img.freepik.com/premium-photo/blue-paper-texture-background_45402-63.jpg?w=900);
    // background-position: center;
    // background-repeat: no-repeat;
    // background-size: cover;
    background-color: #dff3fe;
    .heading{
        font-feature-settings: 'liga' off;
        font-family: Inter;
        font-style: normal;
        font-weight: 600; 
        font-size: 35px;  
        line-height: 72px; /* 120% */
        letter-spacing: -1.5px;
        color: #982176;
    }
    margin-top: 40px;
    border-radius: 8px;
    padding-bottom: 20px;
}
.LatestDataContainer{
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $blackColor;
    padding: 10px;
    width: 450px;
    margin: 5px auto;
    background-color: $lightColor;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1),0px 10px 15px -3px rgba(0,0,0,0.1);
    // -webkit-backdrop-filter: blur(20px);
    // backdrop-filter: blur(20px);
    .title{
        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
        font-family: Inter;
        font-style: normal;
        font-weight: 600;
        line-height: 15px; /* 117.647% */
        text-align: center;
        color: #982176;
    }
    img{
        border-radius: 60%;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.521);

    }
    p{
        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
        font-family: Inter;
        font-style: normal;
        line-height: 22px; /* 117.647% */
        padding: 10px;
        text-align: center;
    }
    .ViewComfyAltOutlinedIcon{
        color: #982176;
        font-size: 40px;
        cursor: pointer;
    }
}
.LatestDataContainer:hover{
    cursor: pointer;
    border: 1px solid #982176;
    transition: all 0.4s;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.281);
}