@import "../../MyStyleAllColor.scss";
.technology{
    
    .imgInterface{
    
    background-image: url(./img/CardBG.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    //  /* fallback for old browsers */
    // background: -webkit-linear-gradient(to bottom, #2E1437, #948E99);  /* Chrome 10-25, Safari 5.1-6 */
    // background: linear-gradient(to bottom, #2E1437, #948E99); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    .heading{
        color: $lightColor;
        font-weight: 600;
        font-size: 30px;
        margin-bottom: 40px;
    
    }
   
}


.mainSection{
    cursor: pointer;
    margin-top: 20px;
    background-color: #dff3fe;
    border-radius: 8px;
        margin-right: 0;
        margin-left: 0;

        .mainDesc{
            font-feature-settings: 'liga' off;
            font-family: Inter;
            font-style: normal;
            margin-top: 50px;
            color:#00127a;
            font-weight: 500;
            text-align: center;
            
        }
        .card{
            background-color: #ffff;
            box-shadow: 2px 0 4px 0 rgba(41,45,51,0.35);
            color: $blackColor;
            text-align: center;
            .title{
                font-feature-settings: 'liga' off;
                font-family: Inter;
                font-style: normal;
            }
            .desc{
                height: 50px;
                font-feature-settings: 'liga' off;
                font-family: Inter;
                font-style: normal;
                
            }
            .readMore{
                margin-top: 50px;
            }
        }
    }

}