.Top-Ai{
    background-image: url(./img/AI_BG.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    .cardMain{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}