@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap');



// font-family: 'Roboto', sans-serif;
// font-family: 'Source Sans Pro', sans-serif;
@import "../../MyStyleAllColor.scss";

.navbar {
    position: sticky;
    top: 0;
    z-index: 1001;
    background-color: #ffffffa2;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    color: $blackColor;
    

    .container-fluid {
        width: 100%;
        .collapse {
            .navbar-nav {
                .nav-item {
                    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
                    color: #111827;
                    font-family: Inter;
                    font-size: 12.75px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 15px; /* 117.647% */

                    :hover {
                        border-radius: 5px;
                        transition: .3s all;
                        box-shadow: 0 0px 5px rgba(0, 0, 0, 0.211);

                    }

                    a {
                        color: $mainColor !important;
                        font-size: 17px;
                        font-weight: 500;
                    }
                }

                .dropdown {
                    
                    .dropdown-menu {
                        .dropdown-item {
                            @import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
                            color: #111827;
                            font-family: Inter;
                            font-size: 14.75px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 15px; /* 117.647% */
                            :hover {
                                background-color: $bgColor !important;
                                color: $blackColor !important;
                                font-size: 18px;

                            }

                        }
                    }
                }
            }
        }

        .navbar-brand {
            @import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');
            font-family: 'Bree Serif', serif;
            color: $mainColor;
            font-weight: 600;

        }
    }

}